#languages-container {
    grid-column: 1 / -1;
    margin-bottom: 2rem;
}

#languages-container label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#languages-container select {
    width: 10rem;
    height: 2rem;
    text-align: center;
    border: 2px solid orange;
}

.skill-bar-container {
    display: flex;
    gap: 4px;
    margin-top: 4px;
}

.skill-bar-segment {
    width: 100px;
    height: 8px;
    background-color: #ccc;
    border-radius: 2px;
    transition: background-color 0.3s ease;
}

.skill-bar-segment.filled {
    background-color: orange;
}